<div class="card">
    <div class="card-body">
        <h5>lorem ipsum dolor</h5>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem rerum accusantium
            quia beatae ipsa odio doloremque sunt voluptatem enim fugiat porro nostrum corrupti,
            aut corporis ducimus quibusdam harum doloribus eligendi?</p>
    </div>
</div>