<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card p-2">
                    <div class="row justify-content-between">
                        <div class="col">
                            <img id="avatar2" src="" alt="profile" class="card-img-top">
                        </div>
                        <div class="col">
                            <h5>Ümit KOÇ</h5>
                            <h6>Software Engineer</h6>
                            <h6 id="job2">Mobile And Web Developer</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 my-2">
                @await Component.InvokeAsync("About")
            </div>
            <div class="col-sm-12 my-2">
                <div class="card">
                    <div class="card-body">
                        @await Component.InvokeAsync("Social")
                    </div>
                </div>
            </div>
            <div class="col-sm-12 my-2">
                <form class=" d-md-none my-2" asp-controller="home" asp-action="search" method="POST">
                    @await Html.PartialAsync("_search")
                </form>
            </div>
        </div>
    </div>

</div>
</div>
