<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="card p-2">
                    <div class="row justify-content-between">
                        <div class="col">
                            <img src="http://placeimg.com/640/480/cats" alt="profile" class="card-img-top">
                        </div>
                        <div class="col">
                            <h6>Software Engineer<br />Mobile And Web Developer</h6>
                            <h5>Ümit KOÇ</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 my-2">
                @await Html.PartialAsync("_about")
            </div>
            <div class="col-sm-12 my-2">
                <div class="card">
                    <div class="card-body">
                        @await Html.PartialAsync("_social")
                    </div>
                </div>
            </div>
            <div class="col-sm-12 my-2">
                <form class=" d-md-none my-2">
                    @await Html.PartialAsync("_search")
                </form>
            </div>
        </div>
    </div>

</div>
</div>
