<i class="fab fa-discord fa-2x"></i>
<i class="fab fa-instagram fa-2x"></i>
<i class="fab fa-twitter fa-2x"></i>
<i class="fab fa-youtube fa-2x"></i>
<i class="fab fa-github fa-2x"></i>
<i class="fab fa-medium fa-2x"></i>
<a data-bs-toggle="modal" data-bs-target="#exampleModal"> <i class="fas fa-file-pdf fa-2x"></i></a>