<a href="#" class="btn btn-primary btn-sm py-0">C#</a>
<a href="#" class="btn btn-warning btn-sm py-0">Java</a>
<a href="#" class="btn btn-danger btn-sm py-0">Flutter</a>
<a href="#" class="btn btn-info btn-sm py-0">Javascript</a>
<a href="#" class="btn btn-primary btn-sm py-0">C++</a>
<a href="#" class="btn btn-dark btn-sm py-0">C</a>
<a href="#" class="btn btn-success btn-sm py-0">.Net Core</a>
<a href="#" class="btn btn-warning btn-sm py-0">Java</a>
<a href="#" class="btn btn-danger btn-sm py-0">Flutter</a>
<a href="#" class="btn btn-info btn-sm py-0">Javascript</a>
<a href="#" class="btn btn-primary btn-sm py-0">C++</a>
<a href="#" class="btn btn-dark btn-sm py-0">C</a>
<a href="#" class="btn btn-success btn-sm py-0">.Net Core</a>