@{
    Layout = "_admin";
    ViewData["title"] = "Admin | Blogs";
}
@for(int i=0;i<5;i++){
    <div class="col-md-12 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <p>Title: baslık</p>
                    <p>Comments: 5</p>
                    <p>date: 2020-09-09</p>
                </div>
                <div class="col-md-9">
                    <p>
                        description: <br />
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Doloremque, ut? Molestias commodi consectetur
                        distinctio, a necessitatibus voluptatum autem inventore
                        vitae velit nam quasi adipisci maxime sequi repellat
                        ipsa quo rerum!...
                    </p>
                </div>
                <div class="col-md-12 d-flex justify-content-end">
                    <a href="#" class="btn btn-outline-success"><i class="fas fa-check-circle"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
}