@model List<About>


@if (Model == null)
{

    <div class="alert alert-bg-danger">Not About</div>
}
else
{
    foreach (var item in Model)
    {
        if (item.programmer)
        {
            <div class="card">
                <div class="card-body">
                    <h5>@item.title</h5>
                    <p>
                        @item.description
                    </p>
                </div>
            </div>
        }
    }

    foreach (var item in Model)
    {
        if (!item.programmer)
        {
            <div class="card">
                <div class="card-body">
                    <h5>@item.title</h5>
                    <p>
                        @item.description
                    </p>
                </div>
            </div>
        }
    }

}
